/* version 1.0.0. */
* {
  margin: 0;
  padding: 0; }

.miu-layout-container {
  flex: auto;
  display: flex;
  flex-direction: column; }

.miu-layout-header {
  display: flex;
  height: 50px;
  background-color: #262F3E; }
  .miu-layout-header .miu-layout-header--logo {
    width: 240px;
    height: 100%; }
  .miu-layout-header .miu-layout-header--main {
    flex: 1;
    display: flex; }
    .miu-layout-header .miu-layout-header--main .miu-layout-heder-main__shortcut {
      flex: 1;
      display: flex; }
      .miu-layout-header .miu-layout-header--main .miu-layout-heder-main__shortcut .shortcut-list {
        display: flex;
        align-items: center;
        height: 100%; }
    .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user {
      min-width: 420px; }
      .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        margin: 0; }
        .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .item {
          display: flex;
          align-items: center;
          padding: 0 15px;
          height: 100%;
          cursor: pointer;
          transition: all .2s ease-in-out; }
          .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .item:hover {
            background-color: #e8e8e8; }
          .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .item .user-nav-icon {
            margin-right: 12px;
            color: #343a40; }
        .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .user-nav-menu,
        .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .user-info {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%; }
        .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .user-info + .dropdown-menu {
          width: 150px; }
        .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .user-info .avator {
          margin-right: 5px;
          width: 46px;
          height: 46px; }
        .miu-layout-header .miu-layout-header--main .miu-layout-header-main__user .user-nav .user-info .name {
          font-weight: bold; }

.miu-layout-content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex; }
  .miu-layout-content .miu-layout-aside {
    position: relative;
    width: 240px;
    height: 100%;
    background-color: #393F44; }
    .miu-layout-content .miu-layout-aside .miu-layout-expand {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 52px;
      background-color: red; }
  .miu-layout-content .miu-layout-main {
    flex: 1;
    height: 100%;
    background-color: #F2F2F2; }

.miu-layout-menu-sider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 52px;
  overflow-y: scroll; }
  .miu-layout-menu-sider::-webkit-scrollbar {
    display: none; }
  .miu-layout-menu-sider .miu-menu-submenu-title,
  .miu-layout-menu-sider .miu-menu-item {
    position: relative;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    font-size: 1em;
    color: #BBBBBB;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .miu-layout-menu-sider .miu-menu-submenu-title:hover,
    .miu-layout-menu-sider .miu-menu-item:hover {
      color: #fff;
      text-decoration: none; }
  .miu-layout-menu-sider .miu-menu-item {
    display: block;
    padding-left: 43px; }
  .miu-layout-menu-sider .miu-menu-opened {
    background: #313437; }
    .miu-layout-menu-sider .miu-menu-opened .miu-menu-submenu-title {
      background-color: #393F44; }

.miu-menu-vertical .miu-menu-submenu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 29px;
  cursor: pointer; }
  .miu-menu-vertical .miu-menu-submenu-title .arrow {
    margin-right: 22px; }

.miu-menu-vertical .miu-menu-item-active {
  background-color: #1E9FFF; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-toggle:active {
  pointer-events: none; }

@media screen and (max-width: 1440px) {
  html {
    font-size: 12px; } }

a:hover {
  text-decoration: none; }
