<header class="miu-layout-header ">
	<div class="miu-layout-header--logo">
		后台通用模块服务
	</div>
	<div class="miu-layout-header--main">
		<!--快捷菜单入口-->
		<div layout:replace="~{fragments/shortcut}"></div>
		<!--右侧用户菜单-->
		<div class="miu-layout-header-main__user">
			<ul class="user-nav">
				<li class="item">
					<i class="layui-icon layui-icon-notice"></i>
				</li>
				<li class="item">
					<i class="layui-icon layui-icon-screen-full"></i>
				</li>
				<li class="item">
					<p class="user-info dropdown-toggle" data-toggle="dropdown">
<!--						<img class="avator" th:src="@{/img/avator.png}"/>-->
						<i class="layui-icon layui-icon-user"></i>
						<span class="name">Mouse UI</span>
					</p>
					<ul class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/user/show}">
							<i
									class="user-nav-icon layui-icon layui-icon-friends"></i>
							个人信息
						</a>
						<li class="dropdown-item" href="#">
							<i class="user-nav-icon layui-icon layui-icon-password"></i>
							修改密码
						</li>
						<li class="dropdown-item" href="#">
							<i class="user-nav-icon layui-icon layui-icon-fonts-clear"></i>
							清空缓存
						</li>
						<li class="dropdown-divider"></li>
						<li class="dropdown-item">
							<i class="user-nav-icon layui-icon layui-icon-logout"></i>
							退出登录
						</li>
					</ul>
				</li>
				<li class="item">
					<p class="user-nav-menu  dropdown-toggle" data-toggle="dropdown">
						<i class="layui-icon layui-icon-website"></i>
					</p>
					<ul class="dropdown-menu">
						<li class="dropdown-item">简体中文</li>
						<li class="dropdown-item">英文</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>