<aside class="miu-layout-aside">
    <nav class="miu-layout-menu-sider miu-menu-vertical" id="miu-asider-menu">
<!--        <ul>-->
<!--            <li class="miu-menu-submenu miu-menu-opened">-->
<!--                <div class="miu-menu-submenu-title">-->
<!--                    <div class="title">-->
<!--                        <span class="miu-layout-menu-side-title-icon"></span>-->
<!--                        <span class="miu-layout-menu-side-title">表单页面-->
<!--            </span>-->
<!--                    </div>-->
<!--                    <span class="arrow">-->
<!--            <i class="layui-icon layui-icon-down"></i>-->
<!--          </span>-->
<!--                </div>-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="/form" class="miu-menu-item">基础表单</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/form/advise" class="miu-menu-item">高级表单</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/form/valid" class="miu-menu-item">表单验证</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="miu-menu-submenu miu-menu-opened">-->
<!--                <div class="miu-menu-submenu-title">-->
<!--                    <div class="title">-->
<!--                        <span class="miu-layout-menu-side-title-icon"></span>-->
<!--                        <span class="miu-layout-menu-side-title">列表页面-->
<!--            </span>-->
<!--                    </div>-->
<!--                    <span class="arrow">-->
<!--            <i class="layui-icon layui-icon-down"></i>-->
<!--          </span>-->
<!--                </div>-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="/form" class="miu-menu-item">基础列表</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/table/list" class="miu-menu-item">查询表格</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/table/back" class="miu-menu-item">带返回导航布局</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/table" class="miu-menu-item">layout table</a>-->
<!--            </li>-->
<!--        </ul>-->
    </nav>
    <div class="miu-layout-expand">
    </div>
</aside>