<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-back}">
<head lang="en">
    <title>form表单</title>
</head>
<body>
<div layout:fragment="header">
    <div th:replace="~{fragments/header}"></div>
</div>
<div layout:fragment="container">
    <div layout:fragment="navback" th:replace="~{fragments/navback :: navBack('/table','用户信息')}"></div>
    <div layout:fragment="content" class="miu-layout-main--content">
        <table id="table"></table>
    </div>
    <script type="text/javascript" th:src="@{/js/form/list.js}"></script>
</div>
</body>
</html>